# Maven
.mvn
*.classpath
*.project
*.settings
/bin/*
/target/*

#gradle
.gradle
/build

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# JetBrains IDEs
.idea/
*.iml